@use "sass:map";
@use "sass:math";


// $accent : #8a8bfb;
$accent : #ffff88;
$bg : #e5e5fa;
$text : #333;
$selected-text : $text;


$colors : (
    "accent" : $accent,
    "bg" : $bg,
    "text" : $text
);

@function color($color : "accent", $mix : 100%, $opacity : 100, $mix-color : white) {
    @return mix(rgba(map.get($colors, $color), math.div($opacity , 100)), $mix-color, $mix)
}