@use "sass:map";
@use "sass:math";


$accent : #23cd8d;
$accent-text : mix(#23cd8d, #000, 90%);
$bg : #e5e5fa;
$text : #333;
$gray : #7f7f7f;
$input-bg : #f5f5f5;
$selected-text : $text;


$colors : (
    "accent" : $accent,
    "bg" : $bg,
    "text" : $text
);

@function color($color : "accent", $mix : 100%, $opacity : 100, $mix-color : white) {
    @return mix(rgba(map.get($colors, $color), math.div($opacity , 100)), $mix-color, $mix)
}