@use '../common/colors' as color;
@use '../common/animation' as anim;
.bannerSkeleton{
    width: 100%;
    aspect-ratio: 16 / 7;
    // background-color: gray;
    margin-block: 20px;
    border-radius: 20px;
    background-image: linear-gradient(
       100deg,
        #77777715 0%, #77777715 40%,
        #77777725 50%, #77777725 55%,
        #77777715 65%, #77777715 100%
    );
    background-size: 200% 100%;
    background-position-x: 180%;
    animation: loadSkeleton 1.3s infinite;
}
@keyframes loadSkeleton {
    to{
        background-position-x: -20%;
    }
}
#banner {
    // min-height: 200px;
    // background-color: #eee;
    width: 100%;
    margin-block: 20px;
    .swiper-wrapper{
        // min-height: 200px;
        padding-bottom: 30px;

        .swiper-slide{
            min-height: 200px;
            max-height: 50vh;
            // background-color: lime;
            border-radius: 20px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                -webkit-tap-highlight-color: transparent;
                text-decoration: none;
                img{
                    width: 100%;
                    border-radius: 20px;
                    @include anim.press(150,98);
                    object-fit: cover;
                }
            }
        }
    }
    .swiper-pagination-bullet-active{
        background-color: color.$accent;
    }
}
