@use '../common/var' as var;
@use '../common/colors' as color;
@use '../common/layout' as ui;
@use '../common/animation' as anim;

#navigationBar {
    background-color: #fff;
    border-top: 1px solid color.$input-bg;
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: var.$navBarHeight;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    * {
        @include ui.userSelectNone();
    }

    a {
        -webkit-tap-highlight-color: transparent;
        color: color.$text;
        text-decoration: none;
    }

    >a>.tab {
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: lime;
        // background-color: color.$input-bg;
        padding: 10px;
        border-radius: 10px;

        >img {
            width: 30px;
            opacity: 0.9;
        }

        span {
            display: none;
        }

        &:active {
            @include anim.press();
            background-color: color.$input-bg;
        }
    }

    >a>.tab.active {
        background-color: color.$input-bg;
        background-color: #efefef;
        gap: 20px;
        padding: 10px 30px 10px 25px;
        border-radius: 100vmax;

        span {
            display: block;
            font-weight: 500;
            font-size: 0.9em;
        }
    }
}