@use '../common/animation' as anim;


#titleHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 10px;
    min-height: 60px;
    // background-color: lightblue;
    *{-webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
    }
    >.left,
    >.right {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15%;

        img {
            width: 40px;
            // background-color: lime;
            padding: 10px;
            border-radius: 50%;
            aspect-ratio: 1 / 1;
            object-fit: contain;
            @include anim.press(100, 90);

            &:active {
                background-color: #ddd;
            }
        }
    }

    >.center {
        width: 70%;

        p {
            text-align: center;
            font-weight: 500;
        }
    }
}