@use '../common/colors' as color;
@use '../common/var' as var;
@use '../common/animation' as anim;


#forgetPassword {
    padding: 20px;
    min-height: 90vh;
    width: 100%;
    gap: 1em;
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: space-between;

    >.top {
        display: flex;
        // justify-self: unset;
        flex-direction: column;
        // gap: 1em;
        margin-top: 2em;
        gap: 1em;
        h1 {
            font-size: 1.5em;
        }

        p {
            font-size: 0.9em;
            color: #555;
        }

        >img {
            width: 80%;
            margin-inline: auto;
            display: block;
            margin-bottom: 2em;
        }

        .label {
            // margin-bottom: 0.5em;
            // display: block;
            font-size: 0.9em;
            color: gray;
        }

    }

    >.middle {
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    >.end {
        p.endText {
            text-align: center;
            font-size: 0.8em;
            color: #777;
        }
    }
}