@use '../common/colors' as color;
@use '../common/var' as var;
@use '../common/animation' as anim;


#home {
    >.container {
        padding: 20px;
        min-height: 100vh;
        padding-bottom: calc(var.$navBarHeight + 20px);
        // background-color: aqua;
        width: 100%;

    }

    .greet {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;

        >.left {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1em;

            .helloName {
                // font-weight: normal;
                font-size: 1em;
            }

            img {
                width: 35px;
                aspect-ratio: 1 / 1;
                object-fit: cover;
                background-color: #ddd;
                border-radius: 50%;
            }
        }

        >.right {
            .countDiv {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: var.$bdrs;
                background-color: color.$input-bg;
                // background-color: lightblue;
                padding: 1em;
                flex-direction: column;
                text-align: center;

                .count {
                    font-weight: 500;
                }
            }
        }

    }

    .bigText {
        margin-top: 0.7em;
        letter-spacing: 0.05em;
        // font-size: 2.3em;
    }


    .cards {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1em;
        width: 100%;


        >a {
            text-decoration: none;
            -webkit-tap-highlight-color: transparent;
            color: color.$text;
            width: 100%;

            &:nth-child(1) .card {
                background-color: #bfe2e2;
            }

            &:nth-child(2) .card {
                background-color: #ffe8c3;
            }

            >.card {
                padding: 23px;
                width: 100%;
                // background-color: mix(color.$accent, #00000000, 25%);
                min-height: 100px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
                border-radius: 25px;
                @include anim.press(100, 98);

                >.right {
                    width: 45%;

                    >img {
                        width: 100%;
                    }
                }

                >.left {
                    display: flex;
                    justify-content: center;
                    // align-items: center;
                    flex-direction: column;
                    gap: 10px;
                    width: 55%;

                    >h2 {
                        text-transform: uppercase;
                    }
                }
            }

            .glow {
                outline: 5px solid color.$accent;
                animation: pulse 1s linear infinite;
            }
            @keyframes pulse {
                0%{
                    outline-color: color.$accent;
                    outline-offset: 0;
                    outline-width: 2px;
                }
                70%,100%{
                    outline-color: transparent;
                    outline-offset: 0.5em;
                    outline-width: 5px;
                }
            }
        }
    }
}