#notifications{
    min-height: 100vh;
    // background-color: lightblue;
    >.container{
        min-height: inherit;
        display: flex;
        justify-content: center;
        align-content: center;
    
        >.noNotification{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 1em;
            img{
                width: 60%;
            }
            .text{
                color: #555;
            }
        }
    }
}