@use '../common/colors' as color;
@use '../common/var' as var;
@use '../common/animation' as anim;

#orders {
    .container {
        padding: 20px;
        display: flex;
        // justify-content:  center;
        // al
        gap: 1em;
        flex-direction: column;
        padding-bottom: 100px;

        >.orders {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 0.7em;

            >.order {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                background-color: mix(color.$accent, #00000000, 15%);
                // background-color: color.$input-bg;
                border-radius: 20px;
                padding: 1em;
                gap: 0.5em;
                @include anim.press(150, 98);

                >.left {
                    width: calc(30% - 0.5em);

                    img {
                        width: 100%;
                    }
                }

                >.right {
                    display: flex;
                    flex-direction: column;
                    gap: 0.7em;
                    width: 70%;

                    >.top {
                        span {
                            font-size: 0.9em;
                        }
                    }

                    >.bottom {
                        display: flex;
                        gap: 1em;
                        justify-content: space-between;

                        // background-color: lightblue;
                        span {
                            font-size: 0.8em;
                        }

                        // align-items: center;
                    }
                }
            }
        }
    }
}

#orders.loading {

    // background-color: lightblue;
    >.container {
        min-height: calc(100vh - 100px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2em;

        >img {
            width: 50%;
        }

        >p {
            color: gray;
        }
    }

    .linkBtn {
        padding: 0.7em 1.2em;
        background-color: mix(color.$accent, #00000000, 20%);
        border-radius: var.$bdrs;
    }
}