#resetPassword {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 90vh;
    gap: 1em;

    .label{
        font-size: 0.9em;
        color: gray;
        display: block;
        margin-bottom: 0.5em;
    }

    >.top {
        display: flex;
        flex-direction: column;
        gap: 1em;
        >img{
            display: block;
            width: 60%;
            margin-inline: auto;
        }
    }

    >.end {
        p.endText {
            text-align: center;
            font-size: 0.8em;
            color: #777;
        }
    }
}