@use './common/index';
@use './common/colors' as color;
@use './common/font';
@use './common/var' as var;
@use './common/animation' as anim;

body {
    min-height: 100vh;
    color: color.$text;
}

input[type='tel'],
input[type='password'],
input[type='text'].inp,
input[type='number'].inp,
input[type='email'],
select#gender,
select#year,
input[type='date'],
textarea {
    width: 100%;
    padding: 1.5em;
    font-size: 0.9em;
    padding-left: 3.5em;
    // font-weight: 500;
    background-color: color.$input-bg;
    outline: 1px solid transparent;
    border: none;
    border-radius: var.$bdrs;
    background-repeat: no-repeat;
    background-size: 1.1em;
    background-position: 1.2em center;

    &:focus {
        outline-color: color.$accent;
    }

}
textarea#instructions{
    background-image: url('../assets/icons/dots.svg');
    background-position: 1.3em 1.3em;
    background-size: 1.3em;
    line-height: 1.7em;
    padding: 1em;
    padding-left: 3.5em;

}

input[type=tel] {
    background-image: url('../assets/icons/mobile-solid.svg');
}

input[type=password] {
    background-image: url('../assets/icons/lock-solid.svg');
}

input[type=text].inp {
    background-image: url('../assets/icons/user-solid.svg');
}
input[type=number].inp {
    background-image: url('../assets/icons/mobile-solid.svg');
}

select#gender {
    background-image: url('../assets/icons/venus-mars-solid.svg');
    background-size: 1.5em;
}

input#collegeName {
    background-image: url('../assets/icons/building-columns-solid.svg');
    background-size: 1.3em;
}

input#course {
    background-image: url('../assets/icons/graduation-cap-solid.svg');
    background-size: 1.5em;
}

input#year,
select#year {
    background-image: url('../assets/icons/calendar-days-solid.svg');
    background-size: 1.2em;
}

input#semester {
    background-image: url('../assets/icons/graduation-cap-solid.svg');
    background-size: 1.5em;
}

input#work {
    background-image: url('../assets/icons/briefcase-solid.svg');
    background-size: 1.3em;
}

input[type=email] {
    background-image: url('../assets/icons/at.svg');
    background-size: 1.3em;
}

input[type=date], input.inp#dob {
    background-image: url('../assets/icons/calendar-days-solid.svg');
    background-size: 1.1em;
    -webkit-appearance: none;
    appearance: none;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

#loading {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 70px;
    }
}



input[type=submit].btnFullWidth,
input[type=submit].btnLarge{
    outline: none;
    border: none;
    background-color: color.$accent;
    color: white;
    padding: 1.4em;
    font-size: 0.9em;
    border-radius: var.$bdrs;
    @include anim.press(100,98);
    // font-weight: 500;
    letter-spacing: 0.05em;
    width: 100%;
}
.accent{
    color: color.$accent-text;
}

span.pending, span.orange{
    color: orange;
}
span.success, span.green{
    color: color.$accent-text;
}
span.amount{
    color: color.$accent-text;
}
span.failed, span.red{
    color: red;
}
span.blue{
    color: dodgerblue;
}
span.gray{
    color: gray;
}